.react-images__footer__caption span {
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 0, 0, 0.75);
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* .react-horizontal-scrolling-menu--arrow-right {
	border-left: 1px dashed black;
} */

/* .react-horizontal-scrolling-menu--arrow-left {
	border-right: 1px dashed black;
} */

.react-horizontal-scrolling-menu--arrow-right,
.react-horizontal-scrolling-menu--arrow-left {
    /* border-bottom: 1px dashed black;
	border-top: 1px dashed black; */
    background: transparent;
    display: flex;
    align-items: center;
}

.react-horizontal-scrolling-menu--scroll-container {
    column-gap: 0;
    height: 90px !important;
}