@font-face {
    font-family: 'GT Sectra Regular';
    src: url('../fonts/GT-Sectra-Fine-Regular.woff2') format('woff2'), url('../fonts/GT-Sectra-Fine-Regular.woff') format('woff'),
        url('../fonts/GT-Sectra-Fine-Regular.eot') format('eot'), url('../fonts/GT-Sectra-Fine-Regular.otf') format('otf'),
        url('../fonts/GT-Sectra-Fine-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'GT Sectra Medium';
    src: url('../fonts/GT-Sectra-Fine-Medium.woff2') format('woff2'), url('../fonts/GT-Sectra-Fine-Medium.woff') format('woff'),
        url('../fonts/GT-Sectra-Fine-Medium.eot') format('eot'), url('../fonts/GT-Sectra-Fine-Medium.otf') format('otf'),
        url('../fonts/GT-Sectra-Fine-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'GT Sectra Bold';
    src: url('../fonts/GT-Sectra-Fine-Bold.woff2') format('woff2'), url('../fonts/GT-Sectra-Fine-Bold.woff') format('woff'),
        url('../fonts/GT-Sectra-Fine-Bold.eot') format('eot'), url('../fonts/GT-Sectra-Fine-Bold.otf') format('otf'),
        url('../fonts/GT-Sectra-Fine-Bold.ttf') format('ttf');
}

.react-images__footer__caption span {
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 0, 0, 0.75);
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* .react-horizontal-scrolling-menu--arrow-right {
	border-left: 1px dashed black;
} */

/* .react-horizontal-scrolling-menu--arrow-left {
	border-right: 1px dashed black;
} */

.react-horizontal-scrolling-menu--arrow-right,
.react-horizontal-scrolling-menu--arrow-left {
    /* border-bottom: 1px dashed black;
	border-top: 1px dashed black; */
    background: transparent;
    display: flex;
    align-items: center;
}

.react-horizontal-scrolling-menu--scroll-container {
    column-gap: 0;
    height: 90px !important;
}

.react-images__header_button--fullscreen {
    display: none !important;
}

.react-images__footer__caption span {
    position: relative;
    background: transparent;
    bottom: 0;
    padding: 0;
}

.react-images__navigation button {
    z-index: 9999;
}

.onesignal-customlink-container button {
    text-decoration: capitalize !important;
}

.caption-box p:only-child {
    margin: 0 !important;
}

video::-webkit-media-text-track-display {
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
    border-radius: none;
}

video::-webkit-media-text-track-background {
    border-radius: none;
}

video::cue {
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
    border-radius: none;
}