@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* purgecss start ignore */
@tailwind base;
@layer base {
  @font-face {
    font-family: GT Sectra Bold;
    font-weight: 700;
    src: url(/fonts/GT-Sectra-Fine-Bold.woff) format('woff');
  }
  @font-face {
    font-family: GT Sectra Medium;
    font-weight: 500;
    src: url(/fonts/GT-Sectra-Fine-Medium.woff) format('woff');
  }
  @font-face {
    font-family: GT Sectra Regular;
    font-weight: 400;
    src: url(/fonts/GT-Sectra-Fine-Regular.woff) format('woff');
  }
  h1 {
    @apply font-title text-3xl mb-2;
  }
  h2 {
    @apply font-title text-2xl mb-2;
  }
  h3 {
    @apply font-title text-xl mb-2;
  }
  h6 {
    @apply text-burgundy;
  }
  body,
  p {
    @apply font-body text-base;
  }
  a {
    @apply no-underline font-normal border-b border-gray-600;
  }
  a:hover {
    @apply no-underline font-normal border-b border-gray-600 bg-gray-600 text-white;
  }
  a:focus,
  a:active {
    @apply text-white bg-gray-600;
  }
  iframe {
    @apply w-full top-0 left-0 absolute h-full;
  }
  b, strong {
    font-weight: bold;
  }
}
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;