/* a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
} */

/* body {
  line-height: 1;
  background: transparent; 
} */

/* ol,
ul {
  list-style: disc;
  margin-left: 2rem;
} */

blockquote,
q {
	quotes: none;
}

blockquote:after,
blockquote:before {
	content: '';
	content: none;
}

q:after,
q:before {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Slider */
.slick-slider {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

html {
	scroll-behavior: smooth;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.fixed {
	overflow-y: hidden;
}

.breakpoint-indicator {
	display: none;
}

@media only screen and (max-width: 61.25em) {
	.breakpoint-indicator[data-size='medium'] {
		display: block;
	}
}

@media only screen and (max-width: 46.875em) {
	.breakpoint-indicator[data-size='small-medium'] {
		display: block;
	}
}

.readmore {
	font-family: 'GT Sectra Medium', serif;
	color: #a03c50;
	text-align: center;
	font-size: inherit;
	margin: 4rem auto !important;
}

.readmore > a:not([class]) {
	color: #a03c50 !important;
	border-bottom: 1px solid #a03c50 !important;
	line-height: 1.25;
}

.readmore > a:not([class]):hover {
	background: #a03c50 !important;
	color: white !important;
}

* {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* font-size: 62.5%; */
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	overflow-x: hidden;
}

@media only screen and (max-width: 37.5em) {
	body {
		font-size: 1.6rem;
	}
}

.logo--small {
	display: inline-block;
	width: 8rem;
	height: 3.4rem;
	/* background: url("../images/logo-small--white.svg") no-repeat; */
	background-size: 100%;
	overflow: hidden;
	text-indent: -999rem;
}

@media only screen and (max-width: 37.5em) {
	.logo--small {
		width: 4rem;
		height: 1.7rem;
	}
}

.button {
	display: inline-block;
	padding: 1rem 1.5rem;
	color: #fff;
	background-color: #9f3e52;
	font-weight: 600;
	font-size: 1.4rem;
	text-align: center;
	line-height: 1.2;
	text-decoration: none;
	outline: 0;
	border: 0;
	cursor: pointer;
}

.button:hover,
.button:focus {
	background-color: #8d3749;
}

.button--secondary {
	background-color: #282828;
}

.button--secondary:hover,
.button--secondary:focus {
	background-color: #000;
}

.button--inline {
	position: relative;
	background-color: #9f3e52;
	font-size: 2.1rem;
	padding: 1rem;
	color: #fff;
	border: 0.2rem solid white;
	font-weight: 600;
	text-align: center;
}

.button--inline img {
	position: absolute;
	left: 1rem;
	width: 2.5rem;
}

.button--inline:hover,
.button--inline:focus {
	cursor: pointer;
	background-color: #8d3749;
}

@media only screen and (max-width: 37.5em) {
	.button--inline {
		border: none;
	}
}

.button--large {
	padding: 1.5rem 4rem;
	font-size: 1.6rem;
	line-height: 2rem;
}

@font-face {
	font-family: 'GT Sectra Regular';
	src: url('../fonts/GT-Sectra-Fine-Regular.woff2') format('woff2'), url('../fonts/GT-Sectra-Fine-Regular.woff') format('woff'),
		url('../fonts/GT-Sectra-Fine-Regular.eot') format('eot'), url('../fonts/GT-Sectra-Fine-Regular.otf') format('otf'),
		url('../fonts/GT-Sectra-Fine-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'GT Sectra Medium';
	src: url('../fonts/GT-Sectra-Fine-Medium.woff2') format('woff2'), url('../fonts/GT-Sectra-Fine-Medium.woff') format('woff'),
		url('../fonts/GT-Sectra-Fine-Medium.eot') format('eot'), url('../fonts/GT-Sectra-Fine-Medium.otf') format('otf'),
		url('../fonts/GT-Sectra-Fine-Medium.ttf') format('ttf');
}

@font-face {
	font-family: 'GT Sectra Bold';
	src: url('../fonts/GT-Sectra-Fine-Bold.woff2') format('woff2'), url('../fonts/GT-Sectra-Fine-Bold.woff') format('woff'),
		url('../fonts/GT-Sectra-Fine-Bold.eot') format('eot'), url('../fonts/GT-Sectra-Fine-Bold.otf') format('otf'),
		url('../fonts/GT-Sectra-Fine-Bold.ttf') format('ttf');
}

a {
	outline: none;
	color: inherit;
}

h1 {
	font-size: 4.5rem;
	line-height: 1.111;
	letter-spacing: -0.44px;
	font-family: 'GT Sectra Bold', serif;
}

@media only screen and (max-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		line-height: 1.133;
		letter-spacing: -0.23px;
	}
}

h2 {
	font-size: 2.4rem;
	line-height: 1.25;
	letter-spacing: -0.23px;
	font-family: 'GT Sectra Bold', serif;
}

@media only screen and (max-width: 37.5em) {
	h2 {
		font-size: 1.8rem;
		line-height: 1.277;
		letter-spacing: 0;
	}
}

h2.section__title {
	text-align: center;
	margin: 4rem 0;
}

h3 {
	font-size: 2.2rem;
	line-height: 1.181;
	letter-spacing: -0.4px;
	font-family: 'GT Sectra Regular', serif;
}

@media only screen and (max-width: 37.5em) {
	h3 {
		font-size: 1.8rem;
		line-height: 1.277;
		letter-spacing: 0;
	}
}

p:not([class]) {
	font-size: 1.6rem;
	line-height: 1.421;
	font-family: 'Roboto', sans-serif;
	/* color: #63666A; */
	color: #000;
}

@media only screen and (max-width: 37.5em) {
	p:not([class]) {
		font-size: 1.4rem;
		line-height: 1.642;
	}
}

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}

blockquote {
	border-left: 0.5rem solid #9f3e52;
	padding-left: 4.5rem;
	margin-top: 2em;
	margin-bottom: 2em;
	font-family: 'GT Sectra Medium', serif;
	font-size: 2.3rem;
	line-height: 1.25;
}

@media only screen and (max-width: 37.5em) {
	blockquote {
		font-family: 'GT Sectra Regular', serif;
		font-size: 2.1rem;
		border-left-width: 0.3rem;
		padding-left: 2rem;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

blockquote p:not([class]) {
	font-family: 'GT Sectra Medium', serif;
	font-size: 2.3rem;
	line-height: 1.25;
	margin: 0;
	color: #000;
}

@media only screen and (max-width: 37.5em) {
	blockquote p:not([class]) {
		font-family: 'GT Sectra Regular', serif;
		font-size: 2.1rem;
	}
}

.donate-banner--top {
	background: #fff;
	padding: 12px 0;
	width: 100%;
}

@media only screen and (max-width: 37.5em) {
	.donate-banner--top {
		padding: 10px;
	}
}

.donate-banner--top .wrapper {
	padding: 0 20px;
}

@media only screen and (max-width: 37.5em) {
	.donate-banner--top .wrapper {
		padding: 0;
	}
}

.donate-banner--top .btn {
	float: right;
	margin-left: 40px;
	padding: 10px 40px;
}

@media only screen and (max-width: 37.5em) {
	.donate-banner--top .btn {
		float: none;
		width: 100%;
		margin: 0;
		text-align: center;
		padding: 5px;
	}
}

.donate-banner--top p {
	margin: 0;
	font-size: 17px;
}

@media only screen and (max-width: 37.5em) {
	.donate-banner--top p {
		display: none;
	}
}

.donate-banner--homepage-mid {
	position: relative;
	background: #fff;
	padding: 40px 50px 40px 55%;
	padding-left: calc(50% + 40px);
	width: 100%;
	margin: 40px 0 80px;
	color: #9f3e52;
}

@media only screen and (max-width: 37.5em) {
	.donate-banner--homepage-mid {
		padding: 70vw 40px 50px 40px;
		padding-top: calc(60vw + 30px);
	}
}

.donate-banner--homepage-mid .donate-banner__image {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	/* background: url("../images/donate-banner--homepage-mid.jpg") no-repeat center; */
	background-size: cover;
}

@media only screen and (max-width: 37.5em) {
	.donate-banner--homepage-mid .donate-banner__image {
		width: 100%;
		height: 60vw;
	}
}

.donate-banner--homepage-mid h2 {
	font-size: 2rem;
	line-height: 1.25;
	margin-bottom: 20px;
	font-family: 'GT Sectra Regular', serif;
	font-weight: 600;
	color: #282828;
	word-wrap: break-word;
}

.donate-banner--footer {
	width: 50%;
	padding-left: 20px;
	color: #fff;
}

@media only screen and (max-width: 61.25em) {
	.donate-banner--footer {
		width: 80%;
		padding: 0;
	}
}

@media only screen and (max-width: 37.5em) {
	.donate-banner--footer {
		width: 100%;
	}
}

.donate-banner--footer h2 {
	margin-bottom: 10px;
}

.donate-banner--footer p {
	color: #fff;
	max-width: 75%;
	margin-bottom: 20px;
	font-weight: 500;
}

@media only screen and (max-width: 37.5em) {
	.donate-banner--footer p {
		max-width: 100%;
	}
}

.donate-banner--footer .btn {
	padding: 14px 25px;
}
